In [ ]:
import pandas as pd
import selenium 
import requests
import bs4

In [105]:
df = pd.read_csv('Report.csv', sep=';', encoding='cp1251', skiprows=2, header=0, index_col=0)
print(df.shape)
df

(1, 9)

,2007,2008,2009,2010,2011,2012,2013,2014,Unnamed: 9
Алексеевский муниципальный район и город Алексеевка,"14,9","23,9","33,4","20,9","28,4","28,8","61,3","57,9",NaN

In [93]:
df = pd.read_csv('Report.csv', sep=';', encoding='cp1251')
df = df.drop(df.columns[0], axis=1)
# df.iloc[0]
# df1 = pd.DataFrame(columns=[df.iloc[1:]])
df.index
# df1.iloc[0] = df.iloc[1]

# df.drop('Общая площадь жилых помещений в ветхих и аварийных жилых домах, тыс. кв.м, тысяча метров квадратных, значение показателя за год, Алексеевский муниципальный район и город Алексеевка, Муниципальный район',axis=1)

MultiIndex([(                                                  nan, ...),
            ('Алексеевский муниципальный район и город Алексеевка', ...)],
           )

In [95]:
# Reloading the file with the proper header row
df_corrected = pd.read_csv('Report.csv', sep=';', encoding='cp1251', header=1)

# Renaming columns to ensure the first column becomes "Муниципалитет", and years are the rest
df_corrected.rename(columns={df_corrected.columns[0]: 'Муниципалитет'}, inplace=True)

# Dropping any rows where "Муниципалитет" is NaN (likely unnecessary extra rows)
df_cleaned = df_corrected.dropna(subset=['Муниципалитет'])

# Setting "Муниципалитет" as the index for better structure
df_cleaned.set_index('Муниципалитет', inplace=True)
df.index
# Displaying the cleaned dataframe to the user
# import ace_tools as tools; tools.display_dataframe_to_user(name="Муниципальная статистика", dataframe=df_cleaned)

MultiIndex([(                                                  nan, ...),
            ('Алексеевский муниципальный район и город Алексеевка', ...)],
           )

In [78]:
df

Empty DataFrame
Columns: []
Index: [(nan, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014), (Алексеевский муниципальный район и город Алексеевка, 14,9, 23,9, 33,4, 20,9, 28,4, 28,8, 61,3, 57,9)]